.page {
    display: flex;
    justify-content: center;
}

.pagination > li {
    background-color: #878787;
}

.test-sidebar {
    margin-top: 10px;
}

.pagination > li > a
{
    background-color: #e0ad23 !important;
/*    background-color: #f9e634 !important;*/
    color: #ffffff !important;
    /*border: 2px solid red;*/
    font-weight: bold !important;
}
nav ul li a:active {
    background-color: #FFFFFF !important;
    color: #000000 !important;
}
.articles {
    /*display: flex;*/
    margin: 50px;
}

.latest-news-area-article {
    margin-top: 40px;
    margin-bottom: 40px;
}

.lavin-area-article {
    margin-top: 50px;
}

.news-active-article {
    display: flex;
    flex-wrap: wrap;
}

.article-row {
    width: 85%;
    margin-top: 15px;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}
/*.side-side {
    width: 20%;
    order: -1;
}*/

@media screen and (max-width: 768px){
    .articles {

        /*align-content: center;*/
    }
    .article-row {
        /*order: -1;*/
    }
}