* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lavin-section-contact {
    position: relative;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background: url("static_cdn/static_root/images/Botox.jpg");*/
    background-size: cover;
}

.lavin-section-contact .lavin-content {
    max-width: 800px;
    text-align: center;
}

.lavin-section-contact .lavin-content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #000000;

}

.lavin-section-contact .lavin-content p {
    font-weight: 300;
    color: #000000;
}

.lavin-contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.lavin-contact-container .lavin-contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.lavin-contact-container .lavin-contactinfo .lavin-box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.lavin-contact-container .lavin-contactinfo .lavin-box .lavin-icon {
    min-width: 60px;
    height: 60px;
    background: #e0ad23;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;
}

.lavin-contact-container .lavin-contactinfo .lavin-box .lavin-icon i {
    color: whitesmoke;
}

.lavin-contact-container .lavin-contactinfo .lavin-box .lavin-text {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    font-size: 16px;
    color: #000000;
    font-weight: 300;
}

.lavin-contact-container .lavin-contactinfo .lavin-box .lavin-text h3 {
    font-weight: 500;
    color: #000000;
}

.lavin-contact-form {
    width: 40%;
    padding: 40px;
    background: #e0ad23;
}

.lavin-contact-form h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
    margin-bottom: 50px;
}

.lavin-contact-form input[type="submit"] {
    width: 100px;
    background: #354a6c;
    color: whitesmoke;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px) {
    .lavin-contact-container {
        flex-direction: column;
    }

    .lavin-contact-container .lavin-contactinfo {
        margin-bottom: 40px;
    }

    .lavin-contact-container .lavin-contactinfo,
    .lavin-contact-form {
        width: 100%;
    }
}