.detail-heading {
    font-size: 29px;
    letter-spacing: 3px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.detail-article {
    background: white;
    margin-top: 3rem;
    height: 100%;
}

.container-detail {
    display: flex;
    /*align-items: center;*/
    flex-direction: row;
    /*margin-top: 6rem;
    margin: 0rem 16rem;*/
}

/*.column-8 {
    width: auto;
    height: auto;
    margin: 10px 18px;
}*/

.vertical_card {
    margin-top: 10px;
}

.vertical_card img {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.vertical_card_body a {
    font-size: 25px;
    margin: 8px 0;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/*########## HORIZONTAL CARDS ##########*/
.horizontal_card {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    /*height: 192px;*/
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.horizontal_card img {
    height: 130px;
    width: 150px;
}

.horizontal_card_body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 240px;
    padding: 0 8px;
}

.horizontal_card_body a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin: 8px 0;
    padding: 20px;
}

.horizontal_card_body a:hover {
    text-decoration: none;
}

.blog_details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 12px 0;
}

.vertical_card {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.blog_details i {
    margin-right: 20px;
    font-weight: 400;
    color: #777777;
}

.blog_details {
    display: flex;
    justify-content: end;
    margin-top: 40px;
}

.blog_details i span {
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    color: #000000;
    padding: 10px;
}

.blog_desc {
    color: #909090;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 30px;
}

.col-sm-10 {
    margin-top: 100px;
}

.blog_details .fa {
    padding: 10px 10px;
    font-size: 30px;
}

.blog_details .fa-telegram {
    border-radius: 5px;
    color: #0084b4;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
}

.blog_details .fa-telegram:hover {
    color: #ffffff;
    background-color: #0084b4;
}

.blog_details .fa-whatsapp {
    border-radius: 5px;
    color: #34af23;
    transition: 0.5s ease;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.blog_details .fa-whatsapp:hover {
    background-color: #34af23;
    color: #ffffff;
}

.blog_details .fa-instagram {
    border-radius: 5px;
    color: red;
    transition: 0.5s ease;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.blog_details .fa-instagram:hover {
    color: #ffffff;
    background-color: red;
}

/*############### RESPONSIVE ##################*/

@media screen and (max-width: 768px) {

    .sidebar {
        width: 300px;
    }

    .article-row {
        width: 100%;
        order: 1;
    }

    .blog_details {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
    }

    .horizontal_card {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}