{% extends "Shared/_MainLayout.html" %}
{% load static %}
{% load render_partial %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-4 bg-danger">
            <p>
                sladkfjdk
            </p>

                <div class="col-md-12 bg-primary">
                    <p>
                        sjdlfjdhf
                    </p>
                </div>

        </div>
        <div class="col-sm-8 bg-info">sladkfjdk</div>
    </div>

</div>

{% endblock %}