{% extends "Shared/_MainLayout.html" %}
{% load static %}
{% load render_partial %}
{% block content %}

<!--<div class="detail-article">-->
<div class="container detail-article">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <h5 class="detail-heading">مقالات مرتبط</h5>
        {% for article_list in related_articles %}
        {% for article in article_list %}
        <div class="horizontal_card">
            <div class="horizontal_card_img">
                <img src="{{ article.image.url }}" alt="">
            </div>
            <div class="horizontal_card_body">
                <a href="#">{{ article.title }}</a>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
        <div class="row row-category">
            <div class="col-sm-12">
                <div class="wrapper">
                    <div class="sidebar">
                        {% render_partial 'articles_categories_partial' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="vertical_card">
            <img src="{{ article.image.url }}" alt="">
            <div class="vertical_card_body">
                <span href="#">{{ article.title }}</span>

                <p class="blog_desc">
                    {{ article.description | safe }}
                </p>
                <div class="blog_details">
                    <!--<i class="fas fa-user"><span>admin</span></i>-->
                    <!--<i class="fa fa-facebook"></i>-->
                    <i><span>اشتراک گذاری</span></i>
                    <a href="https://telegram.me/share/url?url=localhost{{ article.get_absolute_url }}"><i
                            class="fa fa-telegram"></i></a>
                    <a href="https://web.whatsapp.com/send?text={{ article.title }} localhost:8000{{ article.get_absolute_url }}"><i
                            class="fa fa-whatsapp"></i></a>
                    <i class="fa fa-instagram"></i>

                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->
{% include "Shared/Recent_Post.html" %}
{% endblock %}