{% extends "Shared/_MainLayout.html" %}
{% load static %}
{% load render_partial %}
{% block content %}

<!--<div class="container-gallery">
    <div class="heading">گالری تصاویر</div>
    <div class="video-container">
        <div class="video">
            <video src="{% static 'videos/video1.mp4' %}"></video>
        </div>
        <div class="video">
            <img src="{% static 'images/Botox.jpg' %}" alt="">
        </div>
        <div class="video">
            <img src="{% static 'images/Botox.jpg' %}" alt="">
        </div>
        <div class="video">
            <img src="{% static 'images/Botox.jpg' %}" alt="">
        </div>
        <div class="video">
            <img src="{% static 'images/Botox.jpg' %}" alt="">
        </div>
        <div class="video">
            <img src="{% static 'images/Botox.jpg' %}" alt="">
        </div>
    </div>
</div>-->


<section class="latest-news-area" id="latest">
    <div class="container">
        <div class="row">
            <div class="test-sidebar">
                <div class="col-md-3">
                    <div class="wrapper">
                        <div class="sidebar">
                            {% render_partial 'gallery_category_partial' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-active-article">
                {% for page in object_list %}
                    <div class="col-md-4">
                    <div class="video-container">
                        <div class="video">
                            <video src="{{ page.image.url }}"></video>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


</section>


<div class="container page">
    <div class="row">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">صفحه قبلی</a></li>
                {% endif %}
                {% for page in paginator.page_range %}
                {% if page == page_obj.number %}
                <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                {% else %}
                <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.paginator.num_pages }}">صفحه بعدی</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% include "Shared/Recent_Post.html" %}

{% endblock %}