* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lavin-about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about {
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.lavin-inner-section {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 14px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
}

.lavin-inner-section h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.about-text {
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.lavin-btn-cnt button {
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: #00999c;
    color: white;
    cursor: pointer;
}

.lavin-btn-cnt button:hover {
    transition: 1s;
    background-color: #ecf5f5;
    color: #00999c;
}