.detail-heading {
    font-size: 29px;
    letter-spacing: 3px;
}

.vahid {
    display: flex;

}

.detail-article {
    background: white;
    margin-top: 3rem;
    height: 100%;
}

.container-detail {
    display: flex;
    /*align-items: center;*/
    flex-direction: row;
    /*margin-top: 6rem;
    margin: 0rem 16rem;*/
}

.column-8 {
    width: auto;
    height: auto;
    margin: 10px 18px;
}

.vertical_card img {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.vertical_card_body a {
    font-size: 25px;
    margin: 8px 0;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/*########## HORIZONTAL CARDS ##########*/
.horizontal_card {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    /*height: 192px;*/
    overflow: hidden;
}

.horizontal_card img {
    height: 130px;
    width: 150px;
}

.horizontal_card_body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 240px;
    padding: 0 8px;
}

.horizontal_card_body a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 700;
    margin: 8px 0;
    padding: 20px;
}

.horizontal_card_body a:hover {
    text-decoration: none;
}

.blog_details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 12px 0;
}

.blog_details i {
    margin-right: 20px;
    font-weight: 400;
    color: #777777;
}

.blog_details {
    display: flex;
    justify-content: space-between;
}

.blog_details i span {
    margin-right: 200px;
    font-size: 20px;
}

.blog_desc {
    color: #909090;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 30px;
}

.col-sm-10 {
    margin-top: 100px;
}

.blog_details .fa {
    padding: 10px 10px;
    font-size: 20px;
}

.blog_details .fa-facebook {
    color: #3b5995;
}

.blog_details .fa-telegram {
    color: #0084b4;
}

.blog_details .fa-whatsapp {
    color: #34af23;
}

.blog_details .fa-instagram {
    color: red;
}

/*############### RESPONSIVE ##################*/

@media screen and (max-width: 768px) {
    .detail-article {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .wrapper {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 100px;
    }

    .sidebar {
        width: 100%;
    }

    .article-row {
        width: 100%;
        order: 1;
    }

    /*.detail-article .horizontal_card {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }*/
}