/*###########################################################*/

.footer-footer {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    background-color: red;
}
.main-cnt {
    display: flex;
    background-color: #5556b5;
    color: #f9e634;
}
.main-cnt .box {
    flex-basis: 50%;
    padding: 10px 20px;
}
.box .content {
    margin: 20px 0 0 0;
}
.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    /*width: 100%;*/
    background-color: #1a1a1a;
}
.box .content:after {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 15%;
    background-color: orange;
}
.center-box .content p {
    text-align: justify;
}
.center-box {
    justify-content: flex-end !important;
    margin-left: 0;
}
.right-box .content .fas {
    background-color: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 30%;
    transition: 0.3s;
    cursor: pointer;
}
.right-box .content .fas:hover {
    background-color: #f9e634;
}
.right-box .content .text {
    padding-left: 10px;
}
.right-box .content .phone {
    margin: 15px 0;
}
.left-box form .text {
    margin-bottom: 5px;
}
.left-box form .msg {
    margin-top: 10px;
}
.left-box form input, .left-box form textarea {
/*    width: 100px;*/
    background-color: #151515;
/*    padding-left: 10px;*/
    border: 1px solid #f9e634;
}
.left-box form input:focus,
.left-box form textarea:focus {
    outline-color: #f9e634;
}
.left-box form input {
    height: 35px;
}
.left-box form .btn button {
    height: 40px;
    padding-right: 0;
    width: 100%;
    margin: 10px;
    border: none;
    outline: none;
    background-color: #1a1a1a;
    /*font-weight: 500px;*/
    cursor: pointer;
    transition: .3s;
}
.left-box form .btn button:hover {
    background-color: #f9e634;
}
@media screen and (max-width: 900px){
    .footer-footer {
        width: 100%;
        position: relative;
        bottom: 0;
        }
    .main-cnt {
        flex-wrap: wrap;
        flex-direction: column;
        }
    .main-cnt .box {
        margin: 5px 0;
        }
    }
