:root {
    --purple: #8e44ad;
}

.container-gallery .heading {
    font-size: 3rem;
    margin: 2rem 0;
    text-transform: capitalize;
    color: var(--purple);
    letter-spacing: .2rem;
    text-align: center;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .5);
}

.video-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.video-container .video {
    margin-top: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    overflow: hidden;
    border-radius: 1rem;
    z-index: 10;
}

.video-container .video video {
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;
}

.video-container .video video:hover {
    transition: .2s linear;
    transform: scale(1.1);
}

.video-container .video .active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 80%;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, .7);
    z-index: 1;
}

.video-container .video .active:hover {
    transition: none;
    transform: translate(-50%, -50%) scale(1);
    width: 700px;
    height: 700px;
}

.news-active-gallery {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .video-container .video .active:hover {
        transition: none;
        transform: translate(-50%, -50%) scale(1);
        width: 400px;
        height: 400px;
    }

    .lavin-container-gallery {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .video-container {
        /*width: 330px;*/
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 1024px) {
    .video-container .video .active:hover {
        transition: none;
        transform: translate(-50%, -50%) scale(1);
        width: 550px;
        height: 550px;
    }

    .lavin-container-gallery {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
}
