* {
    margin: 0;
    box-sizing: border-box;
}
/* HEADER */
.header {
    position: absolute;
    background-color: red;
}
/* HOME SECTION */
.home-section {
    width: 100%;
    display: block;
    min-height: 100vh;
    background-image: url("../../../static_cdn/static_root/images/Botox.jpg");
    background-position: center top;
    background-size: cover;
}
