/*body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}*/

/*.container {
    background-color: #878787;
    display: flex;
    justify-content: center;
    height: 40px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}*/

/*.body {
    width: 100%;
}*/

/*.main-0 {
    background-color: #878787;
    display: flex;
    justify-content: center;
    height: 40px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}*/

/*.row-color {
    background-color: #878787;

 }*/

/*.internal-container {
    justify-content: flex-end;
    display: flex;
    margin: 0;
    padding: 0;
    width: 50%;
}*/

/*.item {
    margin: 5px;
    padding: 5px;
}*/

/*.phone-numbers {
    color: #f9e634;
    text-weight: bold;
    margin: 10px;
    padding: 0;
}*/

/*.menu {
    background-color: #f7f7f1;
    color: #242b38;
    justify-content: center;
    display: flex;
    height: 60px;
    margin: 0;
    padding: 0;
}*/

.items {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 2px solid #878787;
}

.main-page {
    border-right: 2px solid #878787;
}

.main-menu {
    width: 60%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.logo {
    margin: 5px;
    padding-top: 15px;
}

.img {
    filter: brightness(40%);
    position: relative;
}

.title {
    position: absolute;
    top: 40%;
    left: 45%;
    color: white;
    font-size: 22px;
    line-height: 35px;
}

form.frm input[type=text] {
    position: absolute;
    top: 50%;
    left: 35%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 25%;
    color: black;
    background: #624977;
}

form.frm button {
    position: absolute;
    top: 50%;
    left: 60%;
    width: 10%;
    padding: 10px;
    background: #f9e634;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

form.example button:hover {
  background: #0b7dda;
}

.items a:link {
    color: black;
}

.items a:visited {
    color: black;
}

.items:hover {
    background-color: #f9e634;
}

.items:active {
    background-color: #f9e634;
    color: #878787;
}

.items a:active {
    background-color: #f9e634;
    color: #878787;
}

.items a:hover {
    background-color: #f9e634;
    text-decoration: none;
    color: #878787;
}

/*
########### About Us ##########
*/

.abt-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f9e634;
    margin: 0;
    padding: 0;
    height: 800px;
}

.abt-nav {
    background-color: red;
    width: 100%;
    height: 50px;
}

.abt-img {
    background-color: blue;
    margin-top: 5px;
    border-radius: 5px;
    width: 90%;
    height: 90%;
}

.dot {
    position: absolute;
    padding: 5px;
    top: 93%;
    left: 50%;
    height: 100px;
    width: 100px;
    /*shape-outside: url("static_cdn/static_root/images/main-image.jpg");*/
    background-color: white;
    border-radius: 50%;
}

.cont-art {
    display: flex;
    margin-top: 100px;
}

.btn-primary {
    background-color: #5556b5 !important;
/*    background-color: #f9e634 !important;*/
    color: #f9e634 !important;
    border-color: black !important;
    /*border-color: #f9e634 !important;*/
}

/* ############# START ARTICLES #############*/



/* ############# END ARTICLES #############*/

.social-media {
    display: flex;
    background-color: #878787;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.item-sm {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 50px;

}

/*.btn.block {
    background-color: #5556b5 !important;
}*/

.Logo {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.thumbnail {
    margin-right: 20px;
}
.img-size {
    height: 200px !important;
    width: 500px !important;
}

/*
############   BANNER   ###############*/
/*.hdr-content {
    max-width: 650px;
    margin: 100px;
    margin-top: 150px;
}*/
/*.hdr-content .hdr-info h2{
    color: #226A80;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 90px;
}
.hdr-content .hdr-info h2 span {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}
.hdr-content .hdr-info p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}
.hdr-content .info-btn {
    color: #fff;
    background: #226A80;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}
.hdr-content .info-btn:hover {
    background: #0C4F60;
}*/
/*.hdr-label {
    display: none;
}
#check {
    z-index: 3;
    display: none;
}*/