{% load static %}
<link rel="stylesheet" href="{% static 'local/css/main.css' %}">
<link rel="stylesheet" href="{% static 'local/css/about-us.css' %}">
<link rel="stylesheet" href="{% static 'local/css/banner.css' %}">
<link rel="stylesheet" href="{% static 'local/css/contact-icons.css' %}">
<link rel="stylesheet" href="{% static 'local/css/nav.css' %}">
<link rel="stylesheet" href="{% static 'local/css/Recent_Post.css' %}">
<link rel="stylesheet" href="{% static 'local/css/Contact_Us.css' %}">
<link rel="stylesheet" href="{% static 'local/css/detail-article.css' %}">
<link rel="stylesheet" href="{% static 'local/css/gallery.css' %}">
<link rel="stylesheet" href="{% static 'local/css/blog-post.css' %}">
<link rel="stylesheet" href="{% static 'local/css/cards.css' %}">
<link rel="stylesheet" href="{% static 'local/css/articles.css' %}">
<link rel="stylesheet" href="{% static 'IRANSans/WebFonts/css/fontiran.css' %}">
<link rel="stylesheet" href="{% static 'IRANSans/WebFonts/css/style.css' %}">
<link rel="stylesheet" href="{% static 'local/css/footer.css' %}">
<link rel="stylesheet" href="{% static 'local/css/gallery.css' %}">
<link rel="stylesheet" href="{% static 'local/css/before-footer.css' %}">
<link rel="stylesheet" href="{% static 'local/css/article_categories_partial.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.rtl.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/v4-shims.min.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/solid.min.css' %}">
