
{% load static %}
{% block content %}
<div class="lavin-middle">
    <a class="lavin-btn" href="https://www.instagram.com/dr.azadeh.sadeghi/">
        <i class="fa fa-instagram"></i>
    </a>
    <a class="lavin-btn" href="tel:09924625231">
        <i class="fa fa-phone"></i>
    </a>
    <a class="lavin-btn" href="https://web.whatsapp.com/send?phone=989924625231/">
        <i class="fa fa-whatsapp"></i>
    </a>
    <a class="lavin-btn" href="https://www.google.com/maps/dir//''/@0,0,22z/data=!4m6!4m5!1m0!1m2!1m1!1s0x3f8e03d95755163d:0x67bd9b1137c56cb6!3e0?gl=ir">
        <i class="fa fa-location-arrow"></i>
    </a>
</div>
{% endblock %}