
{% load static %}
{% block content %}
<div class="lavin-middle">
    <a class="lavin-btn" href="https://www.instagram.com/dr.azadeh.sadeghi">
        <i class="fa fa-instagram"></i>
    </a>
    <a class="lavin-btn" href="tel:02177953117">
        <i class="fa fa-phone"></i>
    </a>
    <a class="lavin-btn" href="https://wa.me/989924625231?test=">
        <i class="fa fa-whatsapp"></i>
    </a>
    <a class="lavin-btn" href="https://goo.gl/maps/SuPax4oLRi5pLL8D8">
        <i class="fa fa-location-arrow"></i>
    </a>
</div>
{% endblock %}
