{% load static %}
{% block content %}

<div class="post">
    <div class="blog-post">
    <div class="blog-post_img">
        <img src="{% static 'images/Rezayat.jpg' %}" alt="">
    </div>
    <div class="blog-post_info">
        <div class="blog-post_date">
            <span>Sunday</span>
            <span>October 27 2021</span>
        </div>
        <h1 class="blog-post_title">Vahid Pirian</h1>
        <p class="blog-post_text">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون
            بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع
            با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، موجود طراحی اساسا مورد استفاده قرار گیرد.
        </p>
        <a href="#" class="blog-post_cta">بیشتر بخوانید</a>
    </div>
</div>
</div>
{% endblock %}