{% load static %}
{% block content %}

<!--
<div class="cards">
    <div class="container">
        <div class="grid">
            <article>
                <img src="{% static 'images/Botox.jpg' %}" alt="">
                <div class="card-text">
                    <h3>card1</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                    <button>Button 1</button>
                </div>
            </article>
            <article>
                <img src="{% static 'images/Rezayat.jpg' %}" alt="">
                <div class="card-text">
                    <h3>card 2</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                    <button>Button 2</button>
                </div>
            </article>
            <article>
                <img src="{% static 'images/Laser.jpg' %}" alt="">
                <div class="card-text">
                    <h3>card 3</h3>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                    <button>Button 3</button>
                </div>
            </article>
        </div>
    </div>
</div>
-->

{% endblock %}