{% load static %}
{% block content %}
<div class="icons">
    <a href="tel:02177953117" class="phone"><span class="fas fa-phone"></span>تلفن تماس</a>
    <a href="https://web.whatsapp.com/send?phone=989924625231/" class="whatsapp"><span class="fa fa-whatsapp" aria-hidden="true"></span>واتساپ</a>
    <a href="https://www.google.com/maps/dir//''/@0,0,22z/data=!4m6!4m5!1m0!1m2!1m1!1s0x3f8e03d95755163d:0x67bd9b1137c56cb6!3e0?gl=ir" class="location"><span class="fas fa-map-marker-alt"></span>آدرس</a>
    <a href="https://www.instagram.com/dr.azadeh.sadeghi/" class="instagram"><span class="fa fa-instagram"></span>اینستاگرام</a>
</div>
{% endblock %}