
{% load static %}
{% block content %}

<nav class="lavin-nav">

    <div class="lavin-nav-container">
        <div class="lavin-block-1">
            <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <ul class="lavin-nav-links">
            <li>
                <a href="/">خانه</a>
            </li>
            <li>
                <a href="/articles">مقالات</a>
            </li>
            <li>
                <a href="/gallery">گالری تصاویر</a>
            </li>
            <li>
                <a href="/aboutus">درباره ما</a>
            </li>
            <li>
                <a href="/contact-us">تماس با ما</a>
            </li>
        </ul>
        </div>

        <div class="lavin-block-2">
            <div class="lavin-logo">
            <h4>لاوین</h4>
        </div>
        </div>
    </div>

</nav>

{% endblock %}