{% load static %}
<section class="latest-news-area" id="latest">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section_title">
                    <h2>پست های اخیر</h2>
                    <div class="dash"></div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="news-active">
                {% for lst_article in latest_articles %}
                {% for article in lst_article %}
                <div class="col-md-3">
                    <div class="latest-news-wrap">
                        <div class="news-img">
                            <img src="{{ article.image.url }}" alt="" class="img-responsive">
                            <!--<div class="deat">
                                <span>10</span>
                                <span>Feb</span>
                            </div>-->
                        </div>
                        <div class="news-content">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-telegram"></i>
                            <i class="fa fa-whatsapp"></i>
                            <i class="fa fa-instagram"></i>
                            <h4>
                                {{ article.title | truncatewords:8 }}
                            </h4>
                            <p>
                                <!--{{ article.description | truncatewords:10 | safe }}-->
                            </p><br>
                            <a href="">بیشتر بخوانید</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}

            </div>
        </div>
    </div>


</section>